{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{% block title%}{%endblock%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'music/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark ">
    <div class="collapse navbar-collapse">
      <a href="#" class='navbar-brand'>site </a>
      <button type="button" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav nav ">
        <li class="nav-item">
          <a href="{% url 'music:home'%}" class="nav-link active"><span class="sr-only">(current)</span>Home</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'music:home'%}" class="nav-link active"><span class="sr-only">(current)</span>Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> About <span class="caret"></span></a>
          <div class="dropdown-menu">
            <div class="dropdown-header">
              شبکهای اجتماعی
            </div>
            <a href="#" class="dropdown-item">Telegram <span class="badge badge-primary badge-pill">2</span></a>
            <a href="#" class="dropdown-item">tweater</a>
            <a href="#" class="dropdown-item">Instagram</a>
            <div class="dropdown-divider">

            </div>
            <a href="#" class="dropdown-item">Email</a>

          </div>

        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </nav>
    {% block content %}{% endblock%}
  </body>
</footer>

<script src="{% static 'music/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'music/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</html>