{% extends './base.html'%}


{% block title%}{{music.name}}{%endblock%}

{%block content%}
<div class='container'>
  <div class="col col-sm-12 col-md-12 col-lg-12 mt-3">
    <img src="{{music.cover.url}}" class='rounded  mt-3' height="500px" width="500px">
    <audio controls>
      <source src="{{music.file.url}}" type="audio/ogg">
      <source src="{{music.file.url}}" type="audio/mpeg">
    </audio> 
  </div>
  <div>
    <ul>
       <li> {{music.name}}</li>
       <li> {{music.rapper}}</li>
       <li> {{music.label}}</li>
       <li> {{music.mix_mastering}}</li>
       <li> {{music.cover_art}}</li>
       <li> {{music.des}}</li>
    </ul>
  
  </div>
  </div>
{% endblock content%}

